@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Jost:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif|Playfair+Display|Open+Sans+Condensed:300');


.slide h2 {
    margin-bottom: 32px;
    color: #449e48;
    font: 29px/1 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.2;
}

.dtrg-group {
  font-size:12px/1 'Montserrat', sans-serif;
}

.dado {
    color: #212121;
    width:512px;
    font: 24px/1 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.dado_full_width {
    color: #212121;
    font: 18px/1 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}


/* Milk Text styles */

.text {
    color: #212121;
    font: 18px/1 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.textlist {
    color: #212121;
    font: 18px/1 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.textbox {
    color: #212121;
    font: 18px/1 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.textbox p {
  margin-bottom: 0em;
}

.topic {
    padding-top: 25%;
    color: white;
    font: 64px/1 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.2;
}

.watch-out {
  font: 14px/1 'Montserrat', sans-serif;
}

.grad {
  background: #4caf50 linear-gradient(135deg,#4caf50 50%,#449e48 50%)no-repeat;
}

.grad2 {
  background: #9D08E2;
  background: -webkit-linear-gradient(top left, #9D08E2, #65D18B);
  background: -moz-linear-gradient(top left, #9D08E2, #65D18B);
  background: linear-gradient(to bottom right, #9D08E2, #65D18B);
}


.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}


.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

ul {
  list-style-image: url('circle.svg');
}

ul li:not(:last-child) {
    margin-bottom: 15px;
}

.slide ul>li:before {
 padding-right:2.5em;
 content:' '
}


.bluejade {
  color: #003cbf;
}

.cblack div p {
  color:black;
}

.title-maps h2 {
      line-height: 1.5;
}

.footcover {
  width:1024px; 
  margin:0 auto;
  position:absolute; 
  bottom:5px; 
  left:0;
  font: 14px/1 'Montserrat', sans-serif;
  font-weight:400;
  text-align:center;
  color:white;
  z-index:10;
}

.red {
  background-color: red;
}

.sketch {
  background-color: #fbf6d6;
}


.displayjost {
    font-family: 'Jost', sans-serif;
    color: white;
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 1.2;
}


.slide::after {
    position: absolute;
    left: 96px;
    bottom: 48px;
    display: none;
    color: #bdbdbd;
    counter-increment: slide;
    content: counter(slide);
}

.slide strong {
    font-weight: 700;
    color: black;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column_milk {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row_milk::after {
  content: "";
  clear: both;
  display: table;
}

/* make the cells appear to be empty */
.space {
  background: none;
  width: 0.1rem;
}

.scrollfalse {
  overflow-x: hidden;
}

pre {
  overflow-x: hidden;
}

pre[class] {
  overflow-x: hidden;
}


/* Styling caption*/
p.caption {
  font-size: 0.9em;
  font-style: italic;
  color: grey;
  margin-right: 10%;
  margin-left: 10%;  
  text-align: justify;
}


/* Boxes */


.mlkexbox {
  padding: 1em;
  background: #edf4f5;
  color: #3c787f;
  border: 2px solid #c9dfe2;
  border-left-width: 5px;
  border-left-color: #3c787f;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.exheader {
  padding: 0px;
  border-radius: 10px;
  text-align: center;
  background: #3c787f;
  color: white;
}

.mlkexbox strong {
    font-weight: 600;
    color: #3c787f;
}

.mlkinfobox {
  padding: 1em;
  background: #dff0d8;
  color: #3c763d;
  border: 2px solid #d6e9c6;
  border-left-width: 5px;
  border-left-color: #3c763d;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mlkinfobox strong {
    font-weight: 600;
    color: #3c763d;
}


.mlkalertbox {
  padding: 1em;
  background: #fdf1e5;
  color: #bf6300;
  border: 2px solid #fad7b2;
  border-left-width: 5px;
  border-left-color: #bf6300;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mlkalertbox strong {
    font-weight: 600;
    color: #bf6300;
}

.center {
  text-align: center;
}


.supsub {position: absolute}
.subscript {display:block; position:relative; left:2px; top: -5px}
.superscript {display:block; position:relative; left:2px; top: -5px}

.quote {
    position: relative;
    letter-spacing: .03em;
    margin-bottom: .5rem;
    
    &:before {
        content: "“";
        position: absolute;
        left: -.7em;
    }
    
    &:after {
        content: "”";
        margin-right: -1rem;
    }
}

.quote--container {
    margin: 4.5rem auto 0;
    width: 80%;
    border-bottom: 2px solid #C6D1BF;
    padding-bottom: .5rem;
    font-family: 'EB Garamond';
    font-size: 1.2rem;
}

.quote--highlight {
    color: #D24335;
}

.quote--author {
    /*font-family: 'Open Sans Condensed';*/
    font-size: 1rem;
    text-align: right;
    font-weight: 300;
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}